<!DOCTYPE html style="width: 100%; height: 100% !important">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="<%= locals.csrfToken %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="node/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node/animate.css/animate.min.css">
    <link rel="stylesheet" href="node/sweetalert2/dist/sweetalert2.min.css">
    <script src="node/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="static/js/jquery.js"></script>
    <title>Entrar</title>
</head>
<body>
    <main class="container-login">
        <div class="container_1">
            <img src="static/img/incone.svg" alt="" class="logo">
            <div class="titulo">Meu Bebê</div>
            <div class="descricao"></div>
        </div>
        <div class="container_2">
            <div class="titulo">Entrar</div>
            <div class="descricao">Entre no nosso sistema para baixar os videos do seu Bebê.</div>
            <form action="#" class="formulario">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" id="_acesso" placeholder="Codigo de acesso">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" id="_senha" placeholder="Senha">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn">Entrar</button>
                    </div>
                </div>

            </form>
        </div>
    </main>
    <script src="static/js/auth.js"></script>
</body>
</html>