<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('./layout/head') %>
</head>

<body>
  <header class="header">
    <%- include('./layout/header') %>
  </header>
  <main class="container-home-page">
    <div class="container-files" id="container-files">

      <div class="container-loading" id="container-loading">
        <span class="loader-olhos"></span>
        <div class="container">
          <div class="titulo">Carregando...</div>
          <div class="descricao">Estamos buscando os videos do seu bebê</div>
        </div>
      </div>
      
    </div>
  </main>
  <script src="/static/js/api.js"></script>
  <script src="/static/js/home.js"></script>
</body>

</html>