<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('./layout/head') %>
</head>

<body>
  <header class="header">
    <%- include('./layout/header') %>
  </header>
  <main class="container-home-page">
    <div class="container-files">

      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>

      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>

      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>
      <div class="card" id="card-file">
        <div class="info-file">08/09/2023</div>
        <div class="container-incon">
          <li class="icon fas fa-cloud-download-alt"></li>
        </div>
      </div>

    </div>
  </main>
</body>

</html>