
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Player de Vídeo</title>
  <link href="/video.js/dist/video-js.min.css" rel="stylesheet">
  <script src="/video.js/dist/video.min.js"></script>

</head>

<body>
  <div class="container-live">
    <img src="/img/incone.svg" id="logo">

    <div class="card" id="card-stream">
      <div class="container-live">
        <video id="tutorial" class="video-js vjs-default-skin" controls preload="auto" data-setup='{}'>
          <source src="<%= steamLink %>" type="application/x-mpegURL">
        </video>
      </div>
    </div>
  </div>

  <script>
    const player = videojs('tutorial');

    player.ready(function () {
      this.controlBar.addChild('CurrentTimeDisplay');
      this.controlBar.addChild('TimeDivider');
      this.controlBar.addChild('DurationDisplay');
      this.controlBar.addChild('ProgressControl');
      this.controlBar.addChild('PlaybackRateMenuButton');
    });

  </script>
</body>

</html>
