<div class="container_1">
  <div class="logo"><img src="/static/img/incone.svg" alt=""></div>
  <div class="titulo">Meu Bebê</div>
</div>
<div class="container_2">
  <li class="fas fa-bars"></li>
</div>