@font-face {
    font-family: 'Licorice-Regular';
    src: url('../font/Licorice-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ribeye-Regular';
    src: url('../font/Ribeye-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}