<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.css">
    <title>Home</title>
</head>
<body>

    <header class="header-admin"></header>

    <aside class="aside-admin">
        <div class="titulo">Painel Admin</div>
        <nav>
            <ul>
                <a href="/admin/token"><li><span class="fas fa-key"></span>Gerador de Token</li></a>
                <a href="/admin/usuario"><li> <span class="far fa-user-circle"></span> Usuario</li></a>
            </ul>
        </nav>
    </aside>

    
  <main class="container-admin">